#map { width: 100%; height: 800px; }
#admin0Selector div.dropdown-menu { z-index: 2000; }

#box-loading { position: absolute; width: 100%; height: 50px; background-color: transparent; top: 0; z-index: 9999; }
#box-loading span { display: inline-block; padding: 5px 10px; color: #fff; background: #1F6EBC; font-size: 12px; font-weight: bold; }
#legend { display: none; width: 250px; height: 400px; background: #fff; border: 2px solid #AAAEB0; overflow-y: auto; position: absolute; top: 45px; right: 22px; z-index: 999; opacity: 0.9; border-radius: 4px; }
#legend .title { width: 100%; background: #1F6EBC; color: #fff; font-size: 18px; padding: 4px; position: relative; cursor: pointer; }
#legend .title .btn-toggle { position: absolute; right: 8px; top: 6px; font-size: 18px; }
#legend .description { padding: 4px; }
#legend .description h3 { font-size: 15px; margin: 2px; }
#legend .description table tr td { padding: 4px; vertical-align: middle; font-size: 12px; color: #333; }
#legend .description p { font-size: 11px; color: #333; }
#legend > div { display: none; }

#btnLegend i { font-size: 18px; }
button.easy-button-button { width: 60px !important; }
button.easy-button-button > span { /*line-height: 32px;*/ }
button.easy-button-button span.fa { font-size: 16px; }
a.mkt-lnk { text-decoration: underline; }

#glossary { color: #333; }
#glossary .modal-header { padding: 0; border: 0; }
#glossary h3 { color: #fff; background: #1F6EBC; margin: 0 0 15px 0; padding: 15px; width: 100%; letter-spacing: 1.3px; }
#glossary h4 { font-size: 18px; width: 100%; border-bottom: 1px solid #1F6EBC; color: #1F6EBC; }
#glossary p { text-align: justify; }
#glossary p, #glossary li { font-size: 12px; }


.ipc-not-visible { color: #999 !important; font-style: italic; /*pointer-events: none;*/ cursor: default; }

.popover-body {
  padding: 0 0 0 0
}

.card {
  border: 0px;
}

.card-body {
  padding: 0.25rem;
}
